/* Style the input fields inside a form */
form input {
  padding: 5px;
  border-radius: 3px;
}

/* Style the buttons inside a form */
form button {
  margin-left: 15px;
  background-color: blue;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Style the buttons inside a form when the mouse hovers over them */
form button:hover {
  background-color: rgb(0, 0, 223);
  cursor: pointer;
}
