/* Define a família de fontes padrão para todo o documento */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Define a cor de fundo do corpo do documento */
body {
  background-color: blue;
}

/* Estiliza um contêiner centralizado */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estiliza o título dentro do contêiner */
.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
}

/* Estiliza a seção de estatísticas de tarefas dentro do contêiner */
.task-stats {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #333;
  text-align: center;
  flex-direction: column;
}

/* Estiliza os parágrafos dentro da seção de estatísticas de tarefas */
.task-stats p {
  margin: 5px 0;
}
